html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #00009B;
  text-align: center;
}

.list-books-title h1 {
  font-weight: 600;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #00009B;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  outline: 0;
}

.open-search button:hover {
  background-color: rgb(0, 0, 155);
}


/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 15px;
  font-size: 1.25em;
  border: solid #00009B;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 60px;
  height: 100%;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: solid #00009B;
  background-color: #00009B;
  outline: none;
}

button:active {
  border: #FE2C2C;
  outline: none;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.extra-info {
  width: 600px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
  font-weight: bold;
  color: #404040;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-info-button {
  opacity: 0.75;
  position: absolute;
  right: -16px;
  bottom: 36px;
  width: 45px;
  height: 28px;
  border-radius: 10%;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  background: #FF2C2C;
  background-image: url('./icons/book-info.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 46px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.checkbox-container {
  position: absolute;
  cursor: pointer;
  font-size: 22px;
  left: 4px;
  bottom: 14px;
  width: 10px;
  height: 10px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 4px;
}

.checkmark:after {
  top: 0px;
  right: 20px;
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #FF2C2C;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
  color: white;
}

.checkbox-container .checkmark:after {
  left: 10px;
  top: -10px;
  width: 10px;
  height: 24px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.go-back-button {
  position: absolute;
  left: 10px;
  bottom: -10px;
  width: 64px;
  height: 36px;
  border-radius: 10%;
  background: #FF2C2C;
  background-image: url('./icons/go-back.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 58px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.book-shelf-changer {
  opacity: 0.75;
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FF2C2C;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.book-shelf-changer option {


  border: none;
}

.book-shelf-changer option:disabled {

  font-weight: bold;
}


/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}


/* 404 page styling */
.twilight-zone {
  display: block;
  width: 100%;
  min-height: 600px;
  background-image: url('./icons/rod-serling.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 440px;
  outline: none;
}

.twilight-zone-text {
  font-weight: bold;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}